.main-title {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    color: #FFFFFF !important;  /
    margin-bottom: 5px;
}

.sub-title {
    text-align: center;
    font-size: 16px;
    color: #FFFFFF !important;  
    opacity: 0.9;               
    margin-bottom: 30px;
}

.result-card {
    background-color: #1E293B;  
    padding: 24px;
    border-radius: 14px;
    border: 1px solid #334155;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}